# There will be two files for environment variables
# .env
# .env.test
# For the test one it is good to connect to /xyz-test DB.

nodeEnv=local|dev|prod
port=12345
apiPrefix=/api
mongoUrl=mongodb://localhost:27017/xyz
corsOrigin=["http://localhost"]
swaggerUrl=/_docs
swaggerDefinition={"basePath":"/api","info": {"description": "ABC API with Swagger","title": "ABC documentation","version": ""}}
